<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Dutta Sai Power Solutions</title>
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark" >
  <!-- Brand -->
  <a class="navbar-brand" href="#">Dutta Sai Power Solutions</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
     <li class="nav-item">
        <a class="nav-link" th:href="@{/main}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/employeeService}">Employee Service</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/branchService}">Branch Service</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" th:href="@{/main}">DG Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/paymentService}">Payment Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/contact}">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<br>
	<div class="container">
		<div class="row">
			<h1 style="padding-left: 500pt; margin-right: -500pt;font-family: monospace;"> Welcome to Payment Service </h1>
		</div>
		
		<br>
		<div class="row">
			<h5 style="font-style: italic;font-family: cursive;"> Quick Links</h5>
		</div>
		<br>
		<form th:action="@{/addBranchPayment}" th:object="${branch}" method="post"> 
		
		<div class="row">
			<div class="col-lg-8">
			<!-- 	<a th:href= "@{branchPaymentUpdate}" style="color:green;">Update Branch Payment</a> -->
				<label style="color:green;">Add Branch Payment:</label> 
    				<select class="form-control"  id="dropDownList" name="branch">
   					 	<option value="0">Select Branch</option>
    					<option  th:each="branch : ${branches}"  
    							 th:value="${branch}" 
    							 th:text="${branch}" 
    							 ></option>
					</select>
					<br>
					<button type="submit" class="btn btn-success">
							Add
							</button>
			</div>
			
		</div>
		 </form>
		<br>
		<br>
	<div class="box-footer">
<a th:href= "@{/main}" style="color: gray;">Back</a>

</div>
</div>
<br>
<br>
 <div class="card-footer bg-transparent border-success text-center text-muted">&copy; Dutta Sai Power Solutions 2023</div>
</body>
</html>